@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.woff2?98669269') format('woff2'),
       url('../font/fontello.ttf?98669269') format('truetype');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-left:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-rss:before { content: '\f143'; } /* '' */
.icon-gh:before { content: '\f300'; } /* '' */
.icon-tw:before { content: '\f304'; } /* '' */
.icon-ln:before { content: '\f30c'; } /* '' */
