<header>
    <section class="upperHeaderWrapper">
        <div>
            <span onclick="openNav()">o</span> 
            <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a><h1>
        </div>
        <div>
            <span class="search-button">s</span>
        </div>
    </section>
    <section class="bottomHeaderWrapper">
        <h1>
            {% if page.title %}
                {{ page.url | downcase | append: '@' | remove: '/@' | remove: '@' }}
            {% else %}
                Home
            {% endif %}
        </h1>
    </section>
</header>