{% if paginator.total_pages %}
<nav class="pagination">
{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path | absolute_url }}">
		<div class="paginator"> Previous </div>
	</a>
	{% else %}
		<div class="paginator inactive"> Previous </div>
	{% endif %}
		<span class="page_number ">
			{{ paginator.page }} / {{ paginator.total_pages }}
		</span>
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | absolute_url }}"><div class="paginator"> Next </div></a>
	{% else %}
		<div class="paginator inactive"> Next </div>
{% endif %}
</nav>
{% endif %}