body, main, header, nav, article, section, footer, ul, ol, li, .pagination{
	border: 1px solid black;
}

html, body, main
{
	min-height: 100vh;
	width: 100%;
}

body
{
	padding: 0;
}

main
{
	display: flex;
	flex-direction: column;
	padding: 0;
}

nav,.pagination, footer
{
	text-align: center;
}

article, .pagination
{
	margin: 1em 0;
}

.pagination
{
	margin-left: auto;
	margin-right: auto;
}

img
{
	max-width: 100%;
}