html, body, main{
	min-height: 100vh;
	width: 100%;
}

body{
	font-family: $body-font-family;
	padding: 0;
	background: $body-bg;
}

main{
	font-size: 1.1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0;
}

a{
	color: $link;
}

a:hover{
	color: $link-hover;
}

nav, .pagination, footer{
	text-align: center;
}

article, .pagination{
	margin: 1em 0;
}

.socials{
	font-size: 2.1em;
}

i:hover{
	cursor: pointer;
	color: $main-color;
}

.pagination{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-around;
	    -ms-flex-pack: space-around;
	        justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 50%;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.pagination a{
	text-decoration: none;
}

.page_number{
	word-wrap: none;
}

.paginator{
	background: $nav-button-active-bg;
	color: $nav-button-active;
	font-family: $paginator-font-family;
	border-radius: 10%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 6em;
	height: 2em;
}

.paginator:hover{
	background: $nav-button-active-bg-hover;
}

.inactive, .inactive:hover{
	background: $nav-button-inactive-bg;
	color: $nav-button-inactive;
}

img{
	max-width: 100%;
}

#search-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	padding: 0;
}

.TagCloud{
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    margin-bottom: 0;
  }

  & ul{
    display: inline;
    list-style-type: none;
    padding: 0;
    text-align: center;

    & li{
      display: inline;
    }

    & li:nth-of-type(3n + 1) {
      font-size: 1.25em;
    }

    & li:nth-of-type(4n+3) {
      font-size: 1.5em;
    }

    & li:nth-of-type(5n - 3) {
      font-size: 1em;
    }
  }
}
