header{
	margin-bottom: 2.5%;
	color: $header;
}

header a{
	color: $header-link;
}

.upperHeaderWrapper{
	position: fixed;
	width: 100%;
	background: $header-top-bg;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.upperHeaderWrapper > div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.upperHeaderWrapper > div > span{
	font-size: 2em;
	margin: 0.25em 0.5em 0.25em 0.5em;
}

.upperHeaderWrapper > div > h1{
	margin: 0.25em;
	font-family: $code-font-family;
	word-wrap: none;
}

.upperHeaderWrapper > div > * > a{
	text-decoration: none;
	color: $header-link;
}

.upperHeaderWrapper > div > * > a:hover{
	color: $header-link-hover;
}


.bottomHeaderWrapper{
	background: $header-bottom-bg;
	font-family: $code-font-family;
	text-align: center;
	margin-top: 3.2em;
	padding: 3em;
}
