header
{
	margin-bottom: 2.5%;
	color: $header;
}

header a
{
	color: $header-link;
}

.upperHeaderWrapper
{
	position: fixed;
	width: 100%;
	background-color: $header-top-bg;
}

.upperHeaderWrapper > h1
{
	margin: 0.25em;
	font-family: $header-top-font-family;
}

.upperHeaderWrapper > h1 > a
{
	text-decoration: none;
}

.bottomHeaderWrapper
{
	background-color: $header-bottom-bg;
	font-family: $header-bottom-font-family;
	margin-top: 3.2em;
	padding: 1.5em;
}

.bottomHeaderWrapper > h1
{
	text-align: center;
}