header
{
	margin-bottom: 2.5%;
	color: $header;
}

header a
{
	color: $header-link;
}

.upperHeaderWrapper
{
	position: fixed;
	width: 100%;
	background-color: $header-top-bg;
	display: flex;
	justify-content: space-between; 
}

.upperHeaderWrapper > div
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.upperHeaderWrapper > div > span
{
	font-size: 2em;
	margin: 0.25em 0.5em 0.25em 0.5em;
}

.upperHeaderWrapper > div > h1
{
	margin: 0.25em;
	font-family: $code-font-family;
	word-wrap: none;
}

.upperHeaderWrapper > div > * > a
{
	text-decoration: none;
	color: $header-link;
}

.upperHeaderWrapper > div > * > a:hover
{
	color: $header-link-hover;
}


.bottomHeaderWrapper
{
	background-color: $header-bottom-bg;
	font-family: $code-font-family;
	text-align: center;
	margin-top: 3.2em;
	padding: 1.5em;
}