.sideNav
{
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: 0.25s;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;

	color: $sideNav;
	background-color: $sideNav-bg;
}

.sideNav > span
{
	position: absolute;
    top: 2em;
    right: 2em;
}

.sideNav > ul
{
	width: 100%;
	font-size: 2em;
}

.sideNav > ul, .taglist
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sideNav > ul > li
{
	transition: 0.3s;
	width: 100%;
}

.sideNav > ul > li > a
{
	display: block;
	padding: 0.25em 0 0.25em 0;
	color: $sideNav;
}

.sideNav > ul > li > a:hover
{
	color: $sideNav-hover;
	background-color: $sideNav-hover-bg;
}