$body-font-family: 'Helvetica', 'Trebuchet', 'Trebuchet MS', 'Arial', sans-serif;
$code-font-family: 'Monaco', 'Deja Vu Sans';
$paginator-font-family: $code-font-family;
$footer-font-family: $code-font-family;

$main-color: #7c6cc9;
$main-color-light: #998be0;

$link: #3a3a3a;
$link-hover: #727171;

$header-top-bg: linear-gradient(90deg, rgba(16,25,62,1) 0%, rgba(40,20,77,1) 50%, rgba(50,22,91,1) 100%);
$header-bottom-bg: linear-gradient(90deg, rgba(29,44,111,1) 0%, rgba(65,33,125,1) 50%, rgba(78,34,142,1) 100%);
$header: #f9f9f9;
$header-link: $main-color;
$header-link-hover: $main-color-light;

$sideNav-bg: $header-top-bg;
$sideNav: #f9f9f9;
$sideNav-hover: #d6d6d6;
$sideNav-hover-bg: $header-bottom-bg;

$nav-button-active-bg: #040404;
$nav-button-active-bg-hover: $header-bottom-bg;
$nav-button-active: #f4f4f4;
$nav-button-active-hover: $main-color;
$nav-button-inactive-bg: #f4f4f4;
$nav-button-inactive: #040404;

$home-article-border-dark: black;
$home-article-border-light: lightgray;

$code-bg: #e0e0e0;
$code-border: #a8a8a8;

$table-border: #000000;
$table-shadow: #f9f9f9;
$table-head: #f0f0f0;
$table-hover: #ffffff;

$footer: $header;
$footer-link: #f9f9f9;
$footer-bg: $header-bottom-bg;
